<div class="mx-auto text-center">
    <h1 class="text-center fw-bold">Password change</h1> <br>

    Username : <input class="form-control fst-italic" type="text" [(ngModel)]="username"> <br>

    Old password : <input class="form-control" type="password" [(ngModel)]="oldPass"> <br>

    New password : <input class="form-control" type="password" [(ngModel)]="newPass" (ngModelChange)="checkNewPassword()">
    <span *ngIf="newPasswordValid === true" style="color: green;">
        Password is correct.
    </span>
    <span *ngIf="newPasswordValid === false" style="color: red;">
        Password isn't correct.
    </span> <br>

    Repeat new password : <input class="form-control" type="password" [(ngModel)]="repeatPass" (ngModelChange)="checkRepeatPassword()">
    <span *ngIf="repeatPasswordValid === true" style="color: green;">
        Password is valid.
    </span>
    <span *ngIf="repeatPasswordValid === false" style="color: red;">
        Password isn't valid.
    </span> <br>

    <span>{{message}}</span> <br>

    <button class="bg-info btn-lg outline-danger rounded-pill fst-italic" (click)="changePass()">Change password</button>
</div>
