span{
    color: red
}

:host {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('/..//public/changepassbckg.jpg');;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}